:root {
  --whitesmoke: #f8f8f2;
  --darkslategray: #44475a;
  --tomato: #ff5555;
  --lightgreen: #50fa7b;
}

html {
  background: var(--darkslategray);
  color: var(--whitesmoke);
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  place-content: center;
}

body {
  width: 100%;
  padding: 0 0 4em;
}

h1,
h2,
h3,
span,
p {
  font-family: "Inconsolata", monospace;
}

h1,
h2,
h3 {
  margin-top: 0em;
  margin-bottom: 2rem;
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
}

a {
  color: var(--tomato);
  text-decoration: none;
}

a:hover {
  color: var(--lightgreen);
  transition: 0.2s ease-in-out;
}

.pb-main {
  text-align: center;
}

.social {
  font-size: 38px;
}

.pb-footer {
  text-align: center;
  font-size: 18px;
  padding: 1em;
}
